1: Unique Words in a Sentence

In [ ]:


text = input("Enter sentence: ")

words = text.split()      # used to spilt the words int he text data
unique = set(words)     # Convert it to set so that duplicate elements will be removed and present the unique words

print("Unique words count:", len(unique))
print("Unique words:", unique)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'python', 'and', 'powerful', 'is'}

2: Highest Salary from Employee Data

In [ ]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

high_employee = max(employees, key=employees.get) #stores the employee name with the highest salary
high_salary = employees[high_employee]            # stores the highest salary of the respective employeee

print("Employee with the Highest Salary:", high_employee, "-", high_salary)

Employee with the Highest Salary: Ravi - 75000

3: Find Maximum and Minimum Values

In [ ]:
values = [45, 22, 89, 10, 66]

max_val = values[0]
min_val = values[0]

for num in values:         #simple for loop logic for finding the maximum and minimum values from the list
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num


print("List:", values)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

4: Count Products Above a Price Threshold

In [ ]:
prices = [450, 1200, 899, 1500, 300]

count_product = 0

for p in prices:
    if p > 1000:
        count_product += 1

print("Products above 1000:", count_product)

Products above 1000: 2

5: Calculate Attendance Percentage

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

present=0
for p in attendance:
    if p == "P":
        present += 1

total = len(attendance)

percentage = (present / total) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

6: Remove Duplicate Phone Numbers

In [ ]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique = set(phone_numbers)      # Convert it to set so that duplicate numbers will be removed and present the unique numbers

print("Unique phone numbers:", unique)

Unique phone numbers: {9876543210, 9123456789}

7: Count Character Frequency

In [ ]:
text = "python"

char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

8: Convert List to Tuple

In [ ]:
give_list = [10, 20, 30]

converted_tuple = tuple(give_list)   #tuple() function used to convert to tuple form

print("Tuple:", converted_tuple)

Tuple: (10, 20, 30)

9: Check if a Key Exists in a Dictionary

In [ ]:
employee_list = {"Ravi": 75000, "Anita": 68000}

employee = "Ravi"

if employee in employee_list:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

10: Calculate Average Marks

In [ ]:
marks = [70, 80, 75, 65]
sum=0
for i in marks:
  sum+=i
count = len(marks)

average = sum / count

print("Average Marks:", average)

Average Marks: 72.5